In [1]:
import yfinance as yf
import sqlite3

In [12]:
msft = yf.Ticker("MSFT")

# get stock info
msft.info

{'companyOfficers': [],
 'name': 'Bitcoin',
 'startDate': 1367107200,
 'description': 'Bitcoin (BTC) is a cryptocurrency . Users are able to generate BTC through the process of mining. Bitcoin has a current supply of 18,881,075. The last known price of Bitcoin is 56,285.17813079 USD and is down -1.61 over the last 24 hours. It is currently trading on 8326 active market(s) with $38,287,425,292.61 traded over the last 24 hours. More information can be found at https://bitcoin.org/.',
 'maxAge': 1,
 'exchange': 'CCC',
 'shortName': 'Bitcoin USD',
 'exchangeTimezoneName': 'UTC',
 'exchangeTimezoneShortName': 'UTC',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '0',
 'quoteType': 'CRYPTOCURRENCY',
 'symbol': 'BTC-USD',
 'messageBoardId': 'finmb_BTC_CCC',
 'market': 'ccc_market',
 'previousClose': 56309.652,
 'regularMarketOpen': 56309.652,
 'twoHundredDayAverage': 46007.98,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': 37575303168,
 'regularMarketDayHigh': 57642.895,
 'navPrice': None,
 'averageDailyVolume10Day': 34405239376,
 'totalAssets': None,
 'regularMarketPreviousClose': 56309.652,
 'fiftyDayAverage': 60366.36,
 'trailingAnnualDividendRate': None,
 'open': 56309.652,
 'toCurrency': 'USD=X',
 'averageVolume10days': 34405239376,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': 18881280,
 'regularMarketDayLow': 55771.812,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 37575303168,
 'lastMarket': 'CoinMarketCap',
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1087384190976,
 'volumeAllCurrencies': 37575303168,
 'strikePrice': None,
 'averageVolume': 36117964933,
 'priceToSalesTrailing12Months': None,
 'dayLow': 55771.812,
 'ask': None,
 'ytdReturn': None,
 'askSize': None,
 'volume': 37575303168,
 'fiftyTwoWeekHigh': 68789.625,
 'forwardPE': None,
 'fromCurrency': 'BTC',
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 16351.035,
 'bid': None,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': None,
 'dayHigh': 57642.895,
 'regularMarketPrice': 57590.594,
 'preMarketPrice': None,
 'logo_url': ''}

In [29]:
# get historical market data
hist = msft.history(period="7d", interval='1m')
hist['Ticker'] = "MSFT"
hist['Year'] = hist.index.year
hist['Month'] = hist.index.month
hist['Day'] = hist.index.day
hist['Hour'] = hist.index.hour
hist['Minute'] = hist.index.minute
hist = hist[['Year', 'Month', 'Day', 'Hour', 'Minute','Ticker', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits']]
hist.head()

,Year,Month,Day,Hour,Minute,Ticker,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,,,,,,
2021-11-17 00:00:00+00:00,2021,11,17,0,0,MSFT,60139.621094,60139.621094,60139.621094,60139.621094,0,0,0
2021-11-17 00:01:00+00:00,2021,11,17,0,1,MSFT,60158.078125,60158.078125,60158.078125,60158.078125,0,0,0
2021-11-17 00:02:00+00:00,2021,11,17,0,2,MSFT,60193.914062,60193.914062,60193.914062,60193.914062,0,0,0
2021-11-17 00:03:00+00:00,2021,11,17,0,3,MSFT,60120.761719,60120.761719,60120.761719,60120.761719,0,0,0
2021-11-17 00:04:00+00:00,2021,11,17,0,4,MSFT,59967.230469,59967.230469,59967.230469,59967.230469,0,0,0

In [27]:
# get historical market data
hist = msft.history(period="max")
hist['Ticker'] = "MSFT"
hist['Year'] = hist.index.year
hist['Month'] = hist.index.month
hist['Day'] = hist.index.day
hist = hist[['Year', 'Month', 'Day','Ticker', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits']]
hist.head()

,Year,Month,Day,Ticker,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,
2014-09-17,2014,9,17,MSFT,465.864014,468.174011,452.421997,457.334015,21056800,0,0
2014-09-18,2014,9,18,MSFT,456.859985,456.859985,413.104004,424.440002,34483200,0,0
2014-09-19,2014,9,19,MSFT,424.102997,427.834991,384.532013,394.795990,37919700,0,0
2014-09-20,2014,9,20,MSFT,394.673004,423.295990,389.882996,408.903992,36863600,0,0
2014-09-21,2014,9,21,MSFT,408.084991,412.425995,393.181000,398.821014,26580100,0,0

In [19]:
conn = sqlite3.connect('stocks.db')
hist.to_sql('microsoft_prices', conn, if_exists='replace')

/home/tiantian/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

c = conn.cursor()
c.execute("SELECT rowid, * FROM microsoft_prices")
items = c.fetchall()
print(items[0])
print(items[-1])

#### PRAGMA schema.table_info(table-name);

This pragma returns one row for each column in the named table. Columns in the result set include the column name, data type, whether or not the column can be NULL, and the default value for the column. The "pk" column in the result set is zero for columns that are not part of the primary key, and is the index of the column in the primary key for columns that are part of the primary key.

The table named in the table_info pragma can also be a view.

In [21]:
c.execute("PRAGMA table_info(microsoft_prices)")
dtypes = c.fetchall()
print(dtypes)

[(0, 'Date', 'TIMESTAMP', 0, None, 0), (1, 'Year', 'INTEGER', 0, None, 0), (2, 'Month', 'INTEGER', 0, None, 0), (3, 'Day', 'INTEGER', 0, None, 0), (4, 'Ticker', 'TEXT', 0, None, 0), (5, 'Open', 'REAL', 0, None, 0), (6, 'High', 'REAL', 0, None, 0), (7, 'Low', 'REAL', 0, None, 0), (8, 'Close', 'REAL', 0, None, 0), (9, 'Volume', 'INTEGER', 0, None, 0), (10, 'Dividends', 'INTEGER', 0, None, 0), (11, 'Stock Splits', 'INTEGER', 0, None, 0)]

In [22]:
conn.close()