# SQLite3 examples

common commands:
- CREATE
- DROP 
- INSERT
- SELECT
- ALTER
- UPDATE

In [1]:
import sqlite3

In [2]:
# need variable for the 'connection' to database dbname
dbname = 'dbtesting.db'
connection = sqlite3.connect(dbname)

In [3]:
# need a "cursor" to interact with the database
cursor = connection.cursor()

# close the connection (best practice?)
connection.close()

**Example: creating a table**

In [4]:
# treating these two as "header lines" for any modular db interactions
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

In [5]:
# example: creating a table
# note 1: case matters within execute()
# note 2: triple quotes for multiple lines, one line if using single quotes
# note 3: there are only 5 datatypes to choose from for SQLite3
#  a) NULL
#  b) INTEGER
#  c) REAL
#  d) TEXT
#  e) BLOB (e.g. image or music file; store "as is")
cursor.execute("""CREATE TABLE customers (
        first_name TEXT,
        last_name TEXT,
        email TEXT
    )""")

# changes need to be "committed" to the database
connection.commit()

# close the connection
connection.close()

**Example: re-open the db and add data to table**

In [6]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

cursor.execute("INSERT INTO customers VALUES ('John', 'Smith', 'js@js.com')")
cursor.execute("INSERT INTO customers VALUES ('Mary', 'Smith', 'ms@ms.com')")
cursor.execute("INSERT INTO customers VALUES ('Donald', 'Duck', 'duck@disney.com')")

connection.commit()
connection.close()

**Example: queries, fetching from the database**

- note: within a connection, these fetches appear to affect eachother,
- e.g. calling fetchone() twice will return first two elements in sequence
- e.g. calling fetchall() once returns whole table, again returns empty list
- can add or omit rowid from the fetch
  - omit: "SELECT * FROM customers"
  - add: "SELECT rowid, * FROM customers"

In [7]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

cursor.execute("SELECT * FROM customers")

s1 = cursor.fetchone()    # fetches first row
s2 = cursor.fetchmany(3)  # fetches next n=3 rows
s3 = cursor.fetchall()    # fetches (remainder of) whole table

print('s1', type(s1))
print('s2', type(s2))
print('s3', type(s3))

print('\ns1:', s1)
print('s2:', s2)
print('s3:', s3)

print('\nCalling fetchall() after all the above calls... is empty',)
print(cursor.fetchall())  # see note in markdown above

connection.commit()
connection.close()

s1 <class 'tuple'>
s2 <class 'list'>
s3 <class 'list'>

s1: ('John', 'Smith', 'js@js.com')
s2: [('Mary', 'Smith', 'ms@ms.com'), ('Donald', 'Duck', 'duck@disney.com')]
s3: []

Calling fetchall() after all the above calls... is empty
[]

In [8]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

cursor.execute("SELECT rowid, * FROM customers")

fulltable = cursor.fetchall()    # fetches whole table

for elem in fulltable:
    print(elem)

connection.commit()
connection.close()

(1, 'John', 'Smith', 'js@js.com')
(2, 'Mary', 'Smith', 'ms@ms.com')
(3, 'Donald', 'Duck', 'duck@disney.com')

**Example: more detailed queries using WHERE**
- for numeric values can use >, =, <, etc. 
- can use AND/OR, for example: `WHERE email LIKE '%.com' OR rowid = 3`

In [9]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

cursor.execute("SELECT rowid, * FROM customers WHERE last_name = 'Smith'")

fulltable = cursor.fetchall()    # fetches whole table

for elem in fulltable:
    print(elem)

connection.commit()
connection.close()

(1, 'John', 'Smith', 'js@js.com')
(2, 'Mary', 'Smith', 'ms@ms.com')

In [10]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

cursor.execute("SELECT rowid, * FROM customers WHERE email LIKE '%@%.com'")

fulltable = cursor.fetchall()    # fetches whole table

for elem in fulltable:
    print(elem)

connection.commit()
connection.close()

(1, 'John', 'Smith', 'js@js.com')
(2, 'Mary', 'Smith', 'ms@ms.com')
(3, 'Donald', 'Duck', 'duck@disney.com')

**Example: post-processing queries with LIMIT and ORDER BY**

In [12]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

print('Full data:')
cursor.execute("SELECT rowid, * FROM customers")
for elem in cursor.fetchall():
    print(elem)

print('Modified fetch:')
cursor.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC LIMIT 2")
for elem in cursor.fetchall():
    print(elem)

connection.commit()
connection.close()

Full data:
(1, 'John', 'Smith', 'js@js.com')
(2, 'Mary', 'Smith', 'ms@ms.com')
(3, 'Donald', 'Duck', 'duck@disney.com')
Modified fetch:
(3, 'Donald', 'Duck', 'duck@disney.com')
(2, 'Mary', 'Smith', 'ms@ms.com')

**Example: updating tables**

In [ ]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

print('Before update:')
cursor.execute("SELECT rowid, * FROM customers")
data_before = cursor.fetchall()
for elem in data_before:
    print(elem)

cursor.execute("""UPDATE customers SET first_name = 'Jeb'
        WHERE rowid = 1
    """)

print('After update:')
cursor.execute("SELECT rowid, * FROM customers")
data_after = cursor.fetchall()
for elem in data_after:
    print(elem)

connection.commit()
connection.close()

**Example: delete a row**

In [ ]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

print('Before update:')
cursor.execute("SELECT rowid, * FROM customers")
data_before = cursor.fetchall()
for elem in data_before:
    print(elem)

cursor.execute("DELETE FROM customers WHERE rowid = 1")

print('After update:')
cursor.execute("SELECT rowid, * FROM customers")
data_after = cursor.fetchall()
for elem in data_after:
    print(elem)

connection.commit()
connection.close()

**Example: deleting tables**

In [ ]:
connection = sqlite3.connect(dbname)
cursor = connection.cursor()

cursor.execute("DROP TABLE customers")

connection.commit()
connection.close()

# Working with yf database in progress

In [21]:
import sqlite3
import yfinance as yf

dbname_yf = 'database_yfinance.db'

In [22]:
connection = sqlite3.connect(dbname_yf)
cursor = connection.cursor()

ticker_str = 'HUT.TO'
cursor.execute("SELECT symbol FROM {} WHERE symbol=(?)".format('tickers'), (ticker_str,))
print(cursor.fetchall())

connection.commit()
connection.close()

[('HUT.TO',)]

In [33]:
ticker_str = "HUT.TO"
ticker = yf.Ticker(ticker_str)

In [38]:
connection = sqlite3.connect(dbname_yf)
cursor = connection.cursor()

# Add ticker specific tables (e.g. MSFT_days, MSFT_minutes)
for timescale in ['days']:
    if timescale == 'minutes':
        # can get intraday data up to 60d back, but can only pull 7d per download
        hist = ticker.history(period='7d', interval='1m', actions=False)
        hist.reset_index(inplace=True)
        hist['Datetime'] = hist['Datetime'].astype(str)
    
    tablename = '%s_%s' % (ticker_str, timescale)
    
    print('tablename is', tablename)
    
    # Create table header
    '''
    cursor.execute("""CREATE TABLE %s (
        date TEXT,
        open REAL,
        high REAL,
        low REAL,
        close REAL,
        volume INTEGER
    )""".format(tablename))'''
    
    cursor.execute("""CREATE TABLE '%s' (
        date TEXT,
        open REAL,
        high REAL,
        low REAL,
        close REAL,
        volume INTEGER
    )""" % tablename)
    
    
    print('table created...')
    # Fill table using historical data
    cursor.executemany("INSERT INTO {} values (?,?,?,?,?,?)".format(tablename),
                       (hist.values.tolist())
                       )
if verbose:
    print('\tTicker-specific table %s generated' % tablename)

connection.commit()
connection.close()

tablename is HUT.TO_days
table created...

NameError: name 'hist' is not defined

In [51]:
ticker_str = 'HUT.TO'

connection = sqlite3.connect(dbname_yf)
cursor = connection.cursor()

execute_str = "SELECT * FROM tickers WHERE symbol=(?)"
cursor.execute(execute_str, [ticker_str])
print(cursor.fetchall())

connection.commit()
connection.close()

[('HUT.TO', 'CAD', 'EQUITY', 'ca_market', 'TOR', 'Hut 8 Mining Corp.')]